@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #cedbed;
  background-size: 100% 100%;
  animation: cores 30s ease infinite;
  border-radius: 25px;
}

body {
  width: 100%;
  height: 100%;
  color: whitesmoke;
  background-color: #1c1d1a;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  background-color: #334566;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%237085a7' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(20, 20, 20, 0.5)), url(/Assets/bk.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 7px;
  position: fixed;
}

.nav-img {
  width: 70px;
}

.icon-redes {
  width: 32px;
}
.icon-redes:hover {
  cursor: pointer;
  transition: 100ms ease;
  transform: scale(1.1);
}

.item-nav {
  text-decoration: none;
  color: whitesmoke;
  gap: 150px;
  padding: 15px;
}
.item-nav:hover {
  color: black;
}

#home {
  color: orange;
}

.btn-hello {
  border: orange solid 2.8px;
  border-radius: 4px;
  padding: 18px;
  margin-top: 8px;
  background-color: rgba(28, 28, 29, 0.6);
  color: whitesmoke;
}
.btn-hello:hover {
  transition: 100ms ease;
  transform: scale(1.1);
  border: rgba(28, 28, 29, 0.6) solid 2.8px;
  background-color: orange;
  color: #000;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(20, 20, 20, 0.5)), url(/Assets/bk.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.hello {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 300px;
  margin-top: 20%;
  margin-bottom: 600px;
}

.orange-area {
  font-size: 40px;
}
.orange-area .hello-title {
  border-bottom: orange 1px solid;
}

.black-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.foto-principal {
  border-radius: 10px;
  width: 420px;
}

.sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  padding: 170px;
  gap: 120px;
}

.title-sobre {
  width: 160px;
  border-bottom: orange 1px solid;
}

.p-texto {
  margin-top: 25px;
  text-align: justify;
}

.negrito {
  color: orange;
}

.cards {
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 38px;
  align-items: stretch;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 40px;
}

.img-skills {
  width: 65px;
  height: 65px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-sk {
  margin-top: 200px;
  border-bottom: orange 1px solid;
}

.title-skills {
  margin-top: 40px;
  text-align: center;
}

.sub-tit {
  margin-top: 30px;
  font-size: 14px;
}

#a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#b {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#c {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#d {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#e {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#f {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/6.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#g {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/7.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#h {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/8.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#i {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/9.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#j {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
  background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.8)), url(/Assets/cards/10.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.portfolio-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume-img {
  border-radius: 5px;
  margin-top: 70px;
  width: 850px;
}

.link-download {
  padding: 40px;
}

.btn-download {
  border: orange solid 2.8px;
  border-radius: 4px;
  padding: 18px;
  margin-top: 8px;
  background-color: rgba(28, 28, 29, 0.6);
  color: whitesmoke;
  width: 120px;
  height: 50px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
}
.btn-download:hover {
  transition: 100ms ease;
  transform: scale(1.1);
  border: rgba(28, 28, 29, 0.6) solid 2.8px;
  background-color: orange;
  color: #000;
  cursor: pointer;
}

.card-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 350px;
  border-radius: 30px;
  padding: 40px;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1c1d1a;
  padding: 40px;
}

.head-foo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-foo {
  display: flex;
  flex-direction: column;
}

.p-info {
  margin-top: 5px;
  width: 240px;
  text-align: justify;
}

.title-foo {
  margin-bottom: 5px;
}

.start {
  text-decoration: none;
  color: orange;
}

.diary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}

@media (373px <= width <= 919px) {
  body {
    color: whitesmoke;
    background-color: #1c1d1a;
    font-family: "Open Sans", sans-serif;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(20, 20, 20, 0.5)), url(/Assets/bk.jpg);
    background-size: 350%;
    background-repeat: no-repeat;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none;
    background-repeat: no-repeat;
    width: 70%;
  }
  .sobre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
  }
  .hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
    gap: 100px;
  }
  .back-img {
    display: flex;
    justify-content: center;
  }
  .foto-principal {
    display: none;
  }
  .paragrafo-sobre {
    width: 100%;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .resume {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume-img {
    width: 99.999%;
  }
  .none {
    display: none;
  }
  .footer {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head-foo {
    width: 98%;
  }
  .info-foo {
    width: 98%;
  }
}

/*# sourceMappingURL=style.css.map */
