@use 'variables'
@use 'mixins'
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')
*
    margin: 0
    padding: 0

html
    scroll-behavior: smooth

::-webkit-scrollbar 
  width: 10px


::-webkit-scrollbar-track
  background: black
 


::-webkit-scrollbar-thumb 
  background-color: variables.$periwinkle-gray
  background-size: 100% 100%
  animation: cores 30s ease infinite
  border-radius: 25px

body
    width: 100%
    height: 100%
    color: variables.$font-color
    background-color: variables.$black2
    font-family: 'Open Sans', sans-serif
    letter-spacing: 2px
    @include mixins.bk-style
    

.header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    width: 100%
    @include mixins.bk-img
    @include mixins.bk-setup
    padding: 7px
    position: fixed
    
   
    // border-bottom: solid orange 0.3px



.nav-img
    width: 70px
    
.icon-redes
    width: 32px
    &:hover
        cursor: pointer
        @include mixins.animation-nav
.item-nav
    text-decoration: none
    color: variables.$font-color
    gap: 150px
    padding: 15px

    &:hover
         color: black
    
#home
        color: orange

.btn-hello
    @include mixins.btn-style
    &:hover
        @include mixins.animation-btn
        cursor: pointer

.container
    @include mixins.flex-center
    @include mixins.bk-img
    @include mixins.bk-setup
    

.hello
    
    @include mixins.flex-divide
    gap:300px
    margin-top: 20%
    margin-bottom: 600px
    
    
    
.orange-area
     font-size: variables.$font-title
     .hello-title
        
        border-bottom: orange 1px solid
     
.black-area
    @include mixins.flex-center
    gap: 30px 

.foto-principal
    border-radius: 10px
    width: 420px

.sobre
     @include mixins.flex-divide
     justify-content: center
     align-items: center
     padding: 170px
     gap: 120px
     

.title-sobre
    width: 160px
    border-bottom: orange 1px solid
    
.p-texto
    margin-top: 25px
    text-align: justify

.negrito
    color: variables.$paleta1
  
.cards
    @include mixins.div-card-geral

.img-skills
    width: 65px
    height: 65px


.skills
     
     @include mixins.flex-center
     

     
     
     
.title-sk
    margin-top: 200px
    border-bottom: orange 1px solid

.title-skills
    margin-top: 40px
    text-align: center

.sub-tit
    margin-top: 30px
    font-size: 14px
   
#a
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/1.jpg)   
    @include mixins.bk-card-setup
    
#b
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/2.jpg)   
    @include mixins.bk-card-setup

#c
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/3.jpg)   
    @include mixins.bk-card-setup

#d
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/4.jpg)   
    @include mixins.bk-card-setup

#e
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/5.jpg)   
    @include mixins.bk-card-setup

#f
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/6.png)   
    @include mixins.bk-card-setup

#g
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/7.jpg)   
    @include mixins.bk-card-setup

#h
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/8.jpg)   
    @include mixins.bk-card-setup

#i
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/9.jpg)   
    @include mixins.bk-card-setup

#j
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/10.jpg)   
    @include mixins.bk-card-setup


.portfolio-projects
   @include mixins.flex-center


.resume
    @include mixins.flex-center

.resume-img
    border-radius: 5px
    margin-top: 70px
    width: 850px

.link-download
    padding: 40px 

.btn-download
     @include mixins.btn-style
     width: 120px
     height: 50px
     font-weight: 700
     text-align: center
     border-radius: 10px
     &:hover
        @include mixins.animation-btn
        cursor: pointer


.card-content
    margin-top: 40px
    @include mixins.set-card

.contact
    @include mixins.flex-center
    margin-bottom: 200px

.footer
    display: flex
    flex-direction: row
    justify-content: space-around
    background-color: variables.$black2
    padding: 40px
    

.head-foo
    display: flex
    flex-direction: row
    align-items: center

.menu-foo
    display: flex
    flex-direction: column

.p-info
    margin-top: 5px
    width: 240px
    text-align: justify

.title-foo
    margin-bottom: 5px

.start
    text-decoration: none
    color: orange
    

.diary
     @include mixins.flex-center
     margin-bottom: 200px


@media (373px <= width <= 919px)
   
   
 body
     color: variables.$font-color
     background-color: variables.$black2
     font-family: 'Open Sans', sans-serif
     background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(20,20,20,0.5) ),url(/Assets/bk.jpg)   
     background-size: 350%
     background-repeat: no-repeat
     letter-spacing: 2px
     display: flex
     flex-direction: column 
     justify-content: center
     align-items: center
     margin-left: 7%
     
     
     
       
     .container
         display: flex
         flex-direction: column
         justify-content: center
         align-items: center
         background-image: none
         background-repeat: no-repeat
         width: 70%
         text-align: center
         
         
        
       
        

     .sobre
          display: flex
          flex-direction: column
          gap: 10px
          padding: 50px
          width: 98%
          
          
     .sub-tit   
        width: 50%       
                    
                    


     .hello
         display: flex
         flex-direction: column
         justify-content: center
         align-items: center
         margin-bottom: 500px
         gap: 100px
                    

     .back-img
                    
         display: flex
         justify-content: center
                    
            
     .foto-principal
         display: none
                    

     .cards
         display: flex
         justify-content: center
         align-items: center
         width: 50%
                    
     .resume
         display: flex
         justify-content: center
         align-items: center
                    

     .resume-img
          width: 99.999%

                
     #none
         display: hideen

     .footer
         gap: 50px
         display: flex
         flex-direction: column
         justify-content: center
         align-items: center


     .head-foo
         width: 98%

     .info-foo
         width:98%
        

    
   


         
        

    
       
  
 





     