@use 'variables'
@use 'mixins'
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')
*
    margin: 0
    padding: 0

html
    scroll-behavior: smooth

::-webkit-scrollbar 
  width: 0.625rem


::-webkit-scrollbar-track
  background: black
 


::-webkit-scrollbar-thumb 
  background-color: variables.$periwinkle-gray
  background-size: 100% 100%
  animation: cores 30s ease infinite
  border-radius: 1.563rem

body
    width: 100%
    height: 100%
    color: variables.$font-color
    background-color: variables.$black2
    font-family: 'Open Sans', sans-serif
    letter-spacing: 0.125rem
    @include mixins.bk-style
    

.header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    width: 100%
    @include mixins.bk-img
    @include mixins.bk-setup
    padding: 0.438rem
    position: fixed
    
   
    // border-bottom: solid orange 0.3px



.nav-img
    width: 4.375rem
    
.icon-redes
    width: 2rem
    &:hover
        cursor: pointer
        @include mixins.animation-nav
.item-nav
    text-decoration: none
    color: variables.$font-color
    gap: 9.375rem
    padding: 0.938rem

    &:hover
         color: black
    
#home
        color: orange

.btn-hello
    @include mixins.btn-style
    &:hover
        @include mixins.animation-btn
        cursor: pointer

.container
    @include mixins.flex-center
    @include mixins.bk-img
    @include mixins.bk-setup
    

.hello
    
    @include mixins.flex-divide
    gap: 18.75rem
    margin-top: 20%
    margin-bottom: 37.5rem
    
    
    
.orange-area
     font-size: variables.$font-title
     .hello-title
        
        border-bottom: orange 0.063rem solid
     
.black-area
    @include mixins.flex-center
    gap: 1.875rem 

.foto-principal
    border-radius: 0.625rem
    width: 26.25rem

.sobre
     @include mixins.flex-divide
     justify-content: center
     align-items: center
     padding: 10.625rem
     gap: 7.5rem
     

.title-sobre
    width: 10rem
    border-bottom: orange 0.063rem solid
    
.p-texto
    margin-top: 1.563rem
    text-align: justify

.negrito
    color: variables.$paleta1
  
.cards
    @include mixins.div-card-geral

.img-skills
    width: 4.063rem
    height: 4.063rem


.skills
     
     @include mixins.flex-center
     

     
     
     
.title-sk
    margin-top: 12.5rem
    border-bottom: orange 0.063rem solid

.title-skills
    margin-top: 2.5rem
    text-align: center

.sub-tit
    margin-top: 1.875rem
    font-size: 0.875rem
   
#a
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/1.jpg)   
    @include mixins.bk-card-setup
    
#b
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/2.jpg)   
    @include mixins.bk-card-setup

#c
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/3.jpg)   
    @include mixins.bk-card-setup

#d
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/4.jpg)   
    @include mixins.bk-card-setup

#e
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/5.jpg)   
    @include mixins.bk-card-setup

#f
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/6.png)   
    @include mixins.bk-card-setup

#g
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/7.jpg)   
    @include mixins.bk-card-setup

#h
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/8.jpg)   
    @include mixins.bk-card-setup

#i
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/9.jpg)   
    @include mixins.bk-card-setup

#j
    @include mixins.set-card
    background-image: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20,20,20,0.8) ),url(/Assets/cards/10.jpg)   
    @include mixins.bk-card-setup


.portfolio-projects
   @include mixins.flex-center


.resume
    @include mixins.flex-center

.resume-img
    border-radius: 0.313rem
    margin-top: 4.375rem
    width: 53.125rem

.link-download
    padding: 2.5rem

.btn-download
     @include mixins.btn-style
     width: 7.5rem
     height: 3.125rem
     font-weight: 700
     text-align: center
     border-radius: 0.625rem
     &:hover
        @include mixins.animation-btn
        cursor: pointer


.card-content
    margin-top: 2.5rem
    @include mixins.set-card

.contact
    @include mixins.flex-center
    margin-bottom: 12.5rem

.footer
    display: flex
    flex-direction: row
    justify-content: space-around
    background-color: variables.$black2
    padding: 2.5rem
    

.head-foo
    display: flex
    flex-direction: row
    align-items: center

.menu-foo
    display: flex
    flex-direction: column

.p-info
    margin-top: 0.313rem
    width: 15rem
    text-align: justify

.title-foo
    margin-bottom: 0.313rem

.start
    text-decoration: none
    color: orange
    

.diary
     @include mixins.flex-center
     margin-bottom: 12.5rem


@media (373px <= width <= 919px)
   
   
 body
     color: variables.$font-color
     background-color: variables.$black2
     font-family: 'Open Sans', sans-serif
     background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(20,20,20,0.5) ),url(/Assets/bk.jpg)   
     background-size: 350%
     background-repeat: no-repeat
     letter-spacing: 0.125rem
     display: flex
     flex-direction: column 
     justify-content: center
     align-items: center
     margin-left: 7%
     max-width: 80%
     
     
     
       
     .container
         display: flex
         flex-direction: column
         justify-content: center
         align-items: center
         background-image: none
         background-repeat: no-repeat
         width: 70%
         text-align: center
         
         
        
       
        

     .sobre
          display: flex
          flex-direction: column
          gap: 0.625rem
          padding: 3.125rem
          width: 98%
          
          
     .sub-tit   
        width: 50%       
                    
                    


     .hello
         display: flex
         flex-direction: column
         justify-content: center
         align-items: center
         margin-bottom: 31.25rem
         gap: 6.25rem
         

     .back-img
                    
         display: flex
         justify-content: center
                    
            
     .foto-principal
         display: none
                    

     .cards
         display: flex
         justify-content: center
         align-items: center
         width: 50%
                    
     .resume
         display: flex
         justify-content: center
         align-items: center
                    

     .resume-img
          width: 99.999%

                
     #none
         display: hideen

     .footer
         gap: 3.125rem
         display: flex
         flex-direction: column
         justify-content: center
         align-items: center


     .head-foo
         width: 98%

     .info-foo
         width:98%
        

    
   


         
        

    
       
  
 





     